#login-form .form-login {
  width: 400px;
  height: 400px;
  background: linear-gradient(to right, #8a1414, #bababa);
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

#login-form .form-login h5 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000;
}

#login-form .controls {
  width: 100%;
  border: none;
  margin-bottom: 20px;
  padding: 10px;
  background: #ffffff;
  font-size: 16px;
  color: #8a1414;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}

#login-form .controls:focus {
  outline: none;
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 5px #ffffff;
}

#login-form .buttons {
  width: 100%;
  height: 40px;
  background: #8a1414;
  border: none;
  color: #ffffff;
  margin-bottom: 20px;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}

#login-form .buttons:hover {
  background: #bababa;
  cursor: pointer;
}

#login-form p{
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

#login-form a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

#login-form a:hover {
  text-decoration: underline;
}
